:root{
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}
/*fonts*/
/*Raleway [300, 400, 700, 800]*/
/*Open Sans [300, 400, 700]*/


body{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif
}
p{
    font-family: 'Open Sans', sans-serif
}
a{
    text-decoration: none;
}
img, video, canvas{
    max-width: 100%;
    max-height: 100%;
}
.container{
    max-width: 1352px;
    width: 100%;
    margin: 0 auto;
}
header{
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    margin-bottom: 130px;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logo > p{
    font-size: 32px;
    color: var(--color-primary);
    font-weight: 300;
}
nav{
    display: flex;
    height: 100%;
    align-items: center;
}
nav > a{
    margin-left: 95px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.28px;
    height: 100%;
    align-self: center;
}
/*todo nid działa podswietlenie linków na dole*/
nav > a:hover{
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
/*main*/
main{
    height: 712px;
}
.main__banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__banner > h1{
    font-size: 49px;
    color: var(--color-black);
    margin-bottom: 20px;
}
.main__banner > p{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    margin-bottom: 38px;
}
.main__banner > a{
    padding: 22px 157px;
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}
.main__banner img{
    margin-top: -30px;
}
/*statiscic*/
.statiscic{
    height: 531px;
    box-shadow: 0 -5px 80px #00000029;
}
.statiscic__content{
    padding: 100px 0 0 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.statiscic__content > h1{
    font-size: 36px;
    margin-bottom: 120px;
}
.statiscic__content > .boxes{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 168px;
}
.box img{
    position: relative;
    left: -15px;
}
.box > span{
    display: flex;
    align-self: center;
    justify-content: center;
}
.box > span::before {
    content: "";
    background-color: var(--color-redish);
    width: 62px ;
    height: 62px;
    border-radius: 50%;
    position: relative;
    left: 15px;
}
/*todo :: da sie zaznaczyc te spant za pomoca selektorów?*/
/*.boxes span:nth-child(2){*/
/*    background-color: var(--color-primary);*/
/*}*/
.box .span_bg1::before{
    background-color: var(--color-primary);
}
.box .span_bg2::before{
    background-color: var(--color-green);
}
.box > h2{
    margin: 22px 0;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 6px;
}
.box > p{
    color: var(--color-grey);
    text-align: center;
}