header{
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
  margin-bottom: 130px;
  .header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    height: 100%;
  }
}
.logo{
  > p{
    font-size: 32px;
    color: $color-primary;
    font-weight: 300;
  }
}
nav{
  display: flex;
  height: 100%;
  align-items: center;
  transition: 2s;
  @include mobile{
    //todo : dlaczego nie moge showac listy z linkami pod header za pomoca z-index
    transform: translateY(-300px) scale(0);
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 70px;
    left: 0;
    height: auto;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 3px 6px #00000029;
    &.clicked{
    transform: translateY(0) scale(1);
    }
  }
  > a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: $color-grey;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.28px;
    padding: calc(59px / 2) 40px;
    @include mobile{
      padding: 14px 25px;
    }
    &:hover{
      color: $color-black;
      border-bottom: 4px solid $color-primary;
      @include mobile{
        border-bottom: none;

      }
    }
  }
}

.hamburger{
  display: none;
  @include mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
    .hamburger__row{
      width: 50px;
      height: 4px;
      background-color: $color-primary;
      border-radius: 2px;
      transition: 2s;
    }
    &.clicked{
      .hamburger__row-2{
        opacity: 0;
        transform: scale(0);
      }
      .hamburger__row-1{
        transform: translateY(10px) rotate(45deg);
      }
      .hamburger__row-3{
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  ;
  }
}
