header{
  height: 70px;
  box-shadow: 0 3px 6px #00000029;
  margin-bottom: 130px;
}
.header__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.logo > p{
  font-size: 32px;
  color: $color-primary;
  font-weight: 300;
}
nav{
  display: flex;
  height: 100%;
  align-items: center;
}
nav > a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: $color-grey;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3.28px;
  padding: calc(59px / 2) 40px;
}
/*todo nid działa podswietlenie linków na dole*/
nav > a:hover{
  color: $color-black;
  border-bottom: 4px solid $color-primary;
}